stock_bios/*
!stock_bios/*.sh

coreboot_*
coverage/

# VSCode IDE
.vscode/*
!.vscode/README.md
!.vscode/settings.json.default
*.code-workspace

# cache to speed up compilation
*/.ccache/
*/ccache/
*/.config/

output/*
!output/*.sh

# dockerfile coreboot-sdk
util/

# build dir
cb_build/
*/build/

.bash_history
