*/build/*

stock_bios/*
!stock_bios/*.sh

coreboot_*
coverage/

# VSCode IDE
.vscode/*
!.vscode/README.md
!.vscode/settings.json.default
*.code-workspace

*/.ccache/
*/ccache/
*/.config/

output/*
!output/*.sh

util/*

cb_build/*

.bash_history
