CONFIG_CCACHE=y
CONFIG_USE_OPTION_TABLE=y
CONFIG_NO_STAGE_CACHE=y
CONFIG_BOOTSPLASH_IMAGE=y
CONFIG_VENDOR_LENOVO=y
CONFIG_CBFS_SIZE=0x200000
CONFIG_LINEAR_FRAMEBUFFER_MAX_HEIGHT=1080
CONFIG_LINEAR_FRAMEBUFFER_MAX_WIDTH=1920
CONFIG_ONBOARD_VGA_IS_PRIMARY=y
# CONFIG_POST_DEVICE is not set
# CONFIG_POST_IO is not set
CONFIG_VGA_BIOS=y
CONFIG_HAVE_IFD_BIN=y
CONFIG_BOARD_LENOVO_X220=y
# CONFIG_PCIEXP_HOTPLUG is not set
CONFIG_HAVE_ME_BIN=y
CONFIG_USE_ME_CLEANER=y
CONFIG_HAVE_GBE_BIN=y
CONFIG_MAINBOARD_USE_LIBGFXINIT=y
CONFIG_GENERIC_LINEAR_FRAMEBUFFER=y
CONFIG_BOOTSPLASH=y
CONFIG_DRIVERS_PS2_KEYBOARD=y
CONFIG_NO_TPM=y
# CONFIG_BOOTBLOCK_CONSOLE is not set
# CONFIG_POSTCAR_CONSOLE is not set
# CONFIG_SQUELCH_EARLY_SMP is not set
# CONFIG_CONSOLE_CBMEM is not set
CONFIG_DEFAULT_CONSOLE_LOGLEVEL_8=y
